#ruby, #C, #javascript, #Basics {
  display: none;
}

.container h1 {
  text-align: center;
}

.box {
  width: 1000px;
  border: 3px solid rgb(155, 102, 4);
  padding: 3px;
  background-color: khaki;
}

